<ibm-header name="Resource Planning Dashboard" href="{{''}}}">
  <ibm-header-navigation>
    <ibm-header-menu title="Dashboard Views">
      <ibm-header-item href="{{''}}">Dashboard 1</ibm-header-item>
    </ibm-header-menu>
  </ibm-header-navigation>
  <ibm-header-global>
    <ibm-header-action title="action">
      <svg ibmIconNotification20></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIconUserAvatar20></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg ibmIconAppSwitcher20></svg>
    </ibm-header-action>
  </ibm-header-global>
</ibm-header>
