<div class="bx--body body-spacing">
  <aside class="side-nav aside-spacing">
    <h3>Steve Davies - Ballarat Regional Data</h3><br>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat, ligula ut sodales mattis, lectus
      magna viverra justo, quis tristique enim metus at mi. Proin nunc massa, placerat quis venenatis sed, mattis ut
      quam. Aliquam feugiat diam a dapibus maximus. Integer id sapien non lorem viverra varius sed ac diam. Fusce a
      risus dignissim, scelerisque sapien et, blandit magna. Maecenas sollicitudin, leo eget porttitor sodales, justo
      erat ullamcorper est, quis eleifend turpis urna vitae enim. Quisque elit leo, laoreet vel massa non, pellentesque
      tincidunt augue. Integer vestibulum ac ante sit amet eleifend.
    </p>
  </aside>
  <div class="bx--grid blur">
    <div class="bx--row">
      <div class="bx--col-lg-6">
        <div class="bx--row">
          <div class="bx--col chart-spacing chart-left">
            <h2>Most Common Required Skills</h2>
            <app-pie-chart></app-pie-chart>
          </div>
        </div>
      </div>
      <div class="bx--col-lg-6">
        <div class="bx--row">
          <br>
          <div class="bx--col chart-spacing chart-right">
            <h2>All Required Skills in Ballarat</h2>
            <app-vertical-bar-chart></app-vertical-bar-chart>
          </div>
        </div>
      </div>
      <div class="bx--col-lg-12 chart-spacing">
        <h2>Open Seats Ballarat</h2>
        <app-table-one></app-table-one>
      </div>
      <div class="bx--col-lg-12 chart-spacing">
        <h2>Candidate Tracking Status</h2>
        <app-table-two></app-table-two>
      </div>
    </div>
  </div>
</div>

