<div class="bx--body body-spacing">
  <aside class="side-nav aside-spacing">
    <h3>Dashboard 2 Layout</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat, ligula ut sodales mattis, lectus
      magna viverra justo, quis tristique enim metus at mi. Proin nunc massa, placerat quis venenatis sed, mattis ut
      quam. Aliquam feugiat diam a dapibus maximus. Integer id sapien non lorem viverra varius sed ac diam. Fusce a
      risus dignissim, scelerisque sapien et, blandit magna. Maecenas sollicitudin, leo eget porttitor sodales, justo
      erat ullamcorper est, quis eleifend turpis urna vitae enim. Quisque elit leo, laoreet vel massa non, pellentesque
      tincidunt augue. Integer vestibulum ac ante sit amet eleifend.
    </p>
    <br>
    <p>
      Maecenas tincidunt justo eu porttitor dignissim. Fusce aliquam sed est quis euismod. Suspendisse malesuada erat
      vel condimentum pharetra. Curabitur sodales a nibh at varius. Sed fringilla cursus urna, at finibus est rutrum
      vitae. Vestibulum accumsan orci consectetur nulla vulputate ullamcorper. Duis ac turpis quis ligula maximus
      efficitur non pharetra neque. Sed posuere scelerisque elit ut varius. In rutrum ex nec lobortis elementum. In
      rhoncus elit lorem, id vehicula enim vehicula in. Nam ut blandit libero. Vivamus accumsan tristique nisl non
      aliquam. Sed ligula felis, congue nec metus nec, maximus sodales lectus. Etiam ac ultricies elit.
    </p>
  </aside>
  <div class="bx--grid blur">
    <div class="bx--row">
      <div class="bx--col-lg-6">
        <div class="bx--row">
          <div class="bx--col chart-spacing chart-left">
            <app-line-chart></app-line-chart>
          </div>
          <div class="bx--col chart-spacing chart-left">
            <app-number-cards></app-number-cards>
          </div>
          <div class="bx--col chart-spacing chart-left">
            <app-pie-chart></app-pie-chart>
          </div>
          <div class="bx--col chart-spacing chart-left">
            <app-pie-grid></app-pie-grid>
          </div>
          <div class="bx--col chart-spacing chart-left">
            <app-heat-map></app-heat-map>
          </div>
        </div>
      </div>
      <div class="bx--col-lg-6">
        <div class="bx--row">
          <div class="bx--col chart-spacing chart-right">
            <app-guage-chart></app-guage-chart>
          </div>
          <div class="bx--col chart-spacing chart-right">
            <app-horizontal-bar-chart></app-horizontal-bar-chart>
          </div>
          <br>
          <div class="bx--col chart-spacing chart-right">
            <app-vertical-bar-chart></app-vertical-bar-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

